
*{
  font-family:'Courier New', Courier, monospace;
  word-spacing: 1px;
}
::-webkit-scrollbar {
  width: 0px;
}

.parent {
  background-color:rgb(255, 129, 129)
}

header {
  background-color:rgb(253, 76, 76);
  color:rgb(255,255,255);
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
header h1 {
  text-align:center;
}
h2, p {
  color:rgb(255,255,255);
  text-align: center;
  margin: 0;
}
.selection-container { 
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  height: 60vh;
  flex-direction: row;
  justify-content: space-evenly;
}
.selection-container .selection {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 15%;
  height: 60%;    
  align-items: center;
  justify-content: center;
}


button.selection div {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width:200px;
}
button.selection div .name{
  display: inline-block;
  white-space: nowrap;
  text-indent: 0;
}
button.selection div {
  color:#ffffff;
  text-indent: 2%;
  font-size: larger;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;
  width:100%
}
button.selection div div img{
  width:85%;
  min-width: 85%;
}
button.selection{
  border:none;
  background-color:rgb(233, 81, 81);
  color:rgb(255, 255, 255);
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition-duration: 0.5s;
}
button.selection:hover{
  cursor:pointer;
  background-color:rgb(240, 111, 111);
}
button.selection:active{
  background-color:rgb(255, 255, 255);
  color:rgb(233, 81, 81);
}

.Loading {
  font-size: xxx-large;
  color: #ffffff;
}

#overlay{
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0px;
  top: 0px;
  background-color: rgb(245, 78, 78); /* Black fallback color */
  background-color: rgba(245, 78, 78, 0.9); /* Black w/opacity */
  overflow-y:auto; 
  overflow-x:overlay;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}
#overlay .search-bar-container{
  display: flex;
  justify-content: center;
  margin-inline: 2.5%;
  margin-top:1%;
  margin-bottom:1%;
  height:6%
}
#overlay .search-bar-container .search {
  padding:0;
  width:60%;
  height:100%;
  text-indent: 3%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border:none;
  outline-width: 0;
  color:#ea8080;
  font-size: larger;
  background-color: rgb(245, 166, 166);
  transition-duration: 0.8s;
  
}
#overlay .search-bar-container .search:focus,#overlay .search-bar-container .search:hover {
  background-color: rgb(255,255,255);
  color:rgb(245, 166, 166);
}
#overlay .search-bar-container .search-button {
  padding:0;
  width:15%;
  height:100%;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border:none;
  background-color: rgb(245, 166, 166);
  transition-duration: 0.8s;
}
#overlay .search-bar-container .search-button:hover {
  cursor:pointer;
  background-color: rgb(255, 209, 209);
}
#overlay .search-bar-container .search-button:active {
  background-color: rgb(255, 255, 255);
}

.back-logo-container {
  display:flex;
  align-items: center;
  background-color: transparent;
  height:auto;
  width:100%;
  justify-content: space-around;
}
.back-logo-container #back {
  background-color: transparent;
  border: none;
}
.back-logo-container #back:hover {
  cursor: pointer;
}


.characters-container { 
  display:flex; 
  flex-wrap: wrap;
  padding:3%;
  margin: 0%;
  position: relative;
  align-items: center;
  flex-direction: row;
  /* justify-content: space-evenly; */
  --n: 8;
  --gap: calc((100% - 200px * var(--n)) / var(--n) / 2);
  margin: 10px var(--gap)
}
.characters-container .characters {
  margin: 5px 10px;
  min-width: 200px;
  height: 225px;
  border:none;
  color:white;
} 
.characters-container .characters:hover {
  cursor:pointer;
  border:none;
  color:rgb(255, 137, 137);
}
.characters-container .characters .characters-option{
  background-color:transparent;
  width:200px;
  padding: 0px;
  border: none;
  transition-duration: 0.5s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  /* justify-content: center; */
  height:100%;
  position:relative;
}
.characters-container .characters .characters-option:hover{
  cursor:pointer;
  background-color:rgb(245, 154, 154);
}
.characters-container .characters .characters-option-image{
  width: 100%;
  bottom: 0;
  right: 0;
}
.characters-container .characters .characters-option-name{
  color:#ffffff;
  text-indent: 2%;
  font-size: larger;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-wrap: wrap;
  overflow: hidden;
  white-space: nowrap;
  width:100%;
}

#overlay-2{
  height: 0;
  width: 100%;
  position: fixed; 
  z-index: 2; 
  left: 0px;
  bottom: 0px;
  background-color: rgba(224, 62, 62, 0.9); 
  overflow-y:auto; 
  overflow-x:overlay;
  transition: 0.5s ease-in-out;
  visibility: hidden;
}
#overlay-2 .detail-container {
  position: relative;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
#overlay-2 .detail-container img {
  width: 20%;
  margin-bottom: 2.5%;
  border-radius: 50%;
}
#overlay-2 .detail-container .name {
  font-size:xx-large;
  color: azure;
  font-style: italic;
  text-align: center;
  width: 100%;
}
#overlay-2 .detail-container .description {
  display:inline;
  font-size:larger;
  color: azure;
  text-align: center;
  text-indent: 0%;
  width:75%;
}
#overlay-2 .button-container{
  display:flex;
  font-size:larger;
  color: azure;
  text-align: left;
  width:100%;
  height:10%;
  justify-content: center;
  position:absolute;
  right:0;
  bottom:0;
}
#overlay-2 .button-container #confirm, #overlay-2 .button-container #exit-2{
  display:flex;
  font-size:larger;
  color: azure;
  border:none;
  background-color: rgb(214, 80, 80);
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-indent: 0;
  transition-duration: 0.5s;
}
#overlay-2 .button-container #confirm:hover, #overlay-2 .button-container #exit-2:hover{
  cursor:pointer;
  background-color: rgb(230, 129, 129);
}
#overlay-2 .button-container #confirm:active, #overlay-2 .button-container #exit-2:active{
  cursor:pointer;
  background-color: rgb(236, 180, 180);
  color: rgb(214, 80, 80);
}


@media only screen and (max-width: 800px) {
  .selection-container { 
    flex-direction: column;
    overflow-y: scroll;
  }
  .selection-container .selection {
    width: 40%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  #overlay-2 .detail-container img {
    width: 60%;
  }
}